
table {
  border : 1.5px solid lightgray;
}

th {
  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.02) !important;
  border-bottom: 1.2px solid darkgray;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: rgb(0, 0, 0, 0.02);
}

mat-icon{
  height: 15px;
  width: 15px;
  font-size: 15px;
}
.top_title{
  font-weight: bold;
  font-size: 30px;
}
